<% content_for :head do %>
  <%= javascript_include_tag "swfupload" %>
  <%= javascript_include_tag "swfupload.queue" %>
  <%= javascript_include_tag "swfupload.handlers" %>
  <%= javascript_include_tag "swfupload.fileprogress" %>

  <script type="text/javascript">
var swfu;

window.onload = function() {
  var settings = {
    flash_url : "/flash/swfupload.swf",
    upload_url: '/images/flash_create',
      post_params: {
        'user_id' : '<%= u current_user.id %>',
        'album_id' : '<%= @album.id %>',
        'token' : '<%= current_user.make_token %>',
                },
    file_size_limit : "100 MB",
    file_types : "*.*",
    file_types_description : "All Files",
    file_upload_limit : 100,
    file_queue_limit : 0,
    custom_settings : {
      progressTarget : "fsUploadProgress",
      cancelButtonId : "btnCancel"
    },
    debug: false,

    // Button settings
    //button_image_url: "images/TestImageNoText_65x29.png",
    button_width: "65",
    button_height: "29",
    button_placeholder_id: "spanButtonPlaceHolder",
    button_text: '<span class="theFont">Choose Files</span>',
    button_text_style: ".theFont { font-size: 16; }",
    button_text_left_padding: 12,
    button_text_top_padding: 3,

    // The event handler functions are defined in handlers.js
    file_queued_handler : fileQueued,
    file_queue_error_handler : fileQueueError,
    file_dialog_complete_handler : fileDialogComplete,
    upload_start_handler : uploadStart,
    upload_progress_handler : uploadProgress,
    upload_error_handler : uploadError,
    upload_success_handler : uploadSuccess,
    upload_complete_handler : uploadComplete,
    queue_complete_handler : queueComplete  // Queue plugin event
  };

  swfu = new SWFUpload(settings);
};
</script>
<% end %>

<form id="form1" action="#" method="post" enctype="multipart/form-data">
  <div class="fieldset flash" id="fsUploadProgress">
    <span class="legend">Upload Queue</span>
  </div>
  <div id="divStatus">0 Files Uploaded</div>
  <div>
    <span id="spanButtonPlaceHolder"></span>
    <input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" />
  </div>
  <%= link_to 'Done!', "/albums/label_images/#{@album.id}" %>
</form>
