<h2>Welcome to Twiggr!</h2>
<% @posts.each do |post| %>

<div><%= post.title %></div>
<%= image_tag(post.image.image.url(:thumb)) %>

<% end %>

<% form_for @post, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
 <%= render :partial => "/partials/post_form", :locals => {:f => f} %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>