<h2>img.gr &mdash; latest images</h2>
<div id="posts">
<% @posts.each do |post| %>
<div class="post">
<div>
	<%=link_to(image_tag(post.image.image.url(:thumb), :class => "post_image", :width => 50), :controller => :posts, :action => :show, :id => post.id) %>
	<div class="tweet_status">
    <h3><%= post.title %></h3>
		<div class="description">
		<%= post.body %>
		</div>
		<%= link_to post.user.login, user_path(post.user.login) %> <em><%= time_ago_in_words(post.created_at)%> ago</em>
	</div>
</div>
<br clear="all">
</div>
<% end %>
</div>
<br>