<h2>img.gr &mdash; latest images</h2>
<div id="images">
<% @images.each do |image| %>
<div class="image" id="<%= image.id %>">
<div>
	<%=link_to(image_tag(image.image.url(:thumb), :class => "post_image", :width => 50), :controller => :images, :action => :show, :id => image.id) %>
	<div class="tweet_status">
		
		<%= link_to image.user.login, user_path(image.user.login) %>
		
		<div class="description"><span class="body"><%= image.description %></span></div>
	
		<div class="options">
			<% if image.last_tweeted.nil? %>
			<a href="/tweets/create/<%= image.id %>">tweet?</a>
			<% else %>
			<a href="/tweets/create/<%= image.id %>">tweeted</a>
			<% end %>
			| 
			<span class="edit">edit</span>
		</div>
		<em><%= time_ago_in_words(image.created_at)%> ago</em><br>
		
		<span class="tags">
		<% if !image.user_tags.empty? %>
		Friends Tagged: 
		<% image.user_tags.each do |ut| %>
		<%= user_tagged_link(ut.twitter_login) %>
		<% end %>
		<% end %>
		</span>

	</div>
</div>
<br clear="all" />
</div>
<% end %>
</div>
<br />
