<h2>img.gr &mdash; latest images</h2>
<div id="images">
<% @images.each do |image| %>
<div class="image">
<div>
	<%=link_to(image_tag(image.image.url(:thumb), :class => "post_image", :width => 50), :controller => :images, :action => :show, :id => image.id) %>
	<div class="tweet_status">
		<div class="description">
	<span class="body">	<%= image.description %> </span> 
	<span class="edit">edit</span>
		</div>
		<%= link_to image.user.login, user_path(image.user.login) %> <em><%= time_ago_in_words(image.created_at)%> ago</em><br>

		<span class="tags">
		<% image.user_tags.each do |ut| %>
		<%= twitter_profile_link(ut.twitter_login) %>
		<% end %>
		</span>

	</div>
</div>
<br clear="all" />
</div>
<% end %>
</div>
<br />
