<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= @app_title || "img.gr" %> - <%= @app_description || "a photo-tagging tool for Twitter" %></title>
    <%= stylesheet_link_tag 'master' %>
	<%= stylesheet_link_tag 'imgnotes' %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "jquery.autocomplete" %>
	<%= javascript_include_tag "jquery.imgareaselect-0.4" %>
	<%= javascript_include_tag "jquery.imgnotes-0.2" %>
	<%= javascript_include_tag "jquery.description" %>
	
	
		<%= yield :head %>
  </head>
  <body>
    <div id="headlogo"><a href="/"><img src="/images/banner_800x200.png" /></a></div>
    <div id='wrapper'>
      <ul id="nav">
        <li><%= link_to("images", "/images") %></li>
        <li><%= link_to("upload","/images/new") %></li>
		<li><%= link_to("albums","/albums") %></li>
		<li><%= link_to("friends", "/all") %></li>
        <li class="last"><%= link_to("tweets","/tweets") %></li>
		
      </ul>  
      <div id='header'>
        <div id='user_bar'>
          <% if logged_in? %>
            <strong><%= image_tag(current_user.profile_image_url, :width => 17, :height => 17) %> <%= link_to h(current_user.login), user_path(current_user.login)%></strong>
            <p><%= link_to  'logout', '/logout' %></p>
          <% else %>
            <%= link_to 'Login via Twitter', '/login' %>
          <% end %>
        </div>
        <div class='clearfix'></div>
      </div>
      <div id='contents'>
        <%= yield %>
      </div>
    </div>
	<div id="main_bg_ground"></div>
    <div id='footer'>
      Copyright &copy; 2009 img.gr
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-2076812-4");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
